[submodule "terraform/nutanix/terraform-inventory"]
	path = terraform/nutanix/terraform-inventory
	url = https://github.com/adammck/terraform-inventory.git
[submodule "terraform/nutanix/terraform_blog"]
	path = terraform/nutanix/terraform_blog
	url = https://github.com/nutanixdev/terraform_blog
[submodule "StudyingCocosCreator"]
	path = StudyingCocosCreator
	url = git@github.com:hashy0917/StudyingCocosCreator.git
[submodule "WindowsAppStudy"]
	path = WindowsAppStudy
	url = git@github.com:hashy0917/WindowsAppStudy.git
[submodule "WindowsPowerShellStudy"]
	path = WindowsPowerShellStudy
	url = git@github.com:hashy0917/WindowsPowerShellStudy.git
[submodule "GitPitch-study"]
	path = GitPitch-study
	url = git@github.com:hashy0917/GitPitch-study.git
[submodule "CrawlingScrapingStudy"]
	path = CrawlingScrapingStudy
	url = git@github.com:hashy0917/CrawlingScrapingStudy.git
[submodule "ros-study"]
	path = ros-study
	url = git@github.com:hashy0917/ros-study.git
[submodule "PHP-Study"]
	path = PHP-Study
	url = git@github.com:hashy0917/PHP-Study.git
[submodule "flutter-study"]
	path = flutter-study
	url = git@github.com:hashy0917/flutter-study.git
[submodule "k8s/okteto-study"]
	path = k8s/okteto-study
	url = git@github.com:hashy0917/okteto-study.git
[submodule "Heroku-study"]
	path = Heroku-study
	url = git@github.com:hashy0917/Heroku-study.git
[submodule "ansible-study"]
	path = ansible-study
	url = git@github.com:hashy0917/ansible-study.git
[submodule "cloudflare-study"]
	path = cloudflare-study
	url = git@github.com:hashy0917/cloudflare-study.git
[submodule "competitionProgramming"]
	path = competitionProgramming
	url = git@github.com:hashy0917/competitionProgramming.git
[submodule "STM32_FreeRTOS_Study"]
	path = STM32_FreeRTOS_Study
	url = git@github.com:hashy0917/STM32_FreeRTOS_Study.git
